@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-background: rgb(240,238,239);
      --color-tile: #fb6c6c;
      --color-text: #fdce31;
      /* ... */
    }
  }
